<html>
  <head>
    <!-- Base CSS References -->
    <link
      rel="stylesheet"
      href="../node_modules/@cagovweb/go-site-base-css/build/index.css" />
    <link rel="stylesheet" href="../src/styles/alert.css" />
    <script src="../src/scripts/alert.js"></script>
  </head>
  <body>
    <div id="cagov-alerts">
      <div class="cagov-alerts">
        <div>
          <img src="../src/images/red-alert-icon.svg" alt="Red alert circle" />
          <span class="alert-level">Tune in:</span>
          <span>
            <a href="#">
              Governor Newsom to deliver State of the State Address Tuesday at
              10 a.m.
            </a>
          </span>
        </div>
        <button
          data-alert="0"
          class="ca-gov-close-icon close"
          aria-label="Close Alert 0"></button>
      </div>
    </div>
  </body>
</html>
