<html>
  <head>
    <!-- Base CSS References -->
    <link
      rel="stylesheet"
      href="../node_modules/@cagovweb/go-site-base-css/build/index.css" />
    <link rel="stylesheet" href="../src/styles/alert.css" />
    <script src="../src/scripts/alert.js"></script>
  </head>
  <body style="height: 2000px;">
    <!-- Alerts -->
    <div id="cagov-alerts">
      <div id="alert-0" class="alert-banner" style="background-color:blue;">
        <div>
          <button
            data-alert="0"
            class="ca-gov-close-icon close"
            aria-label="Close Alert 0"></button>
          <span class="alert-level">A Message from the Director</span>
          <span
            >We will not be available today.
            https://test-vip.sites.ca.gov/caweb</span
          >
        </div>
      </div>
      <div id="alert-1" class="alert-banner" style="background-color:orange;">
        <div>
          <button
            data-alert="1"
            class="ca-gov-close-icon close"
            aria-label="Close Alert 1"></button>
          <span class="alert-level">A Message from the Director</span>
          <span
            >We will not be available today.
            https://test-vip.sites.ca.gov/caweb</span
          >
        </div>
      </div>
      <div id="alert-2" class="alert-banner" style="background-color:red;">
        <div>
          <button
            data-alert="2"
            class="ca-gov-close-icon close"
            aria-label="Close Alert 2"></button>
          <span class="alert-level">A Message from the Director</span>
          <span
            >We will not be available today.
            https://test-vip.sites.ca.gov/caweb</span
          >
        </div>
      </div>
    </div>
  </body>
</html>
