<link rel="stylesheet" href="../dist/all-progress.css" />
<script src="../dist/script.js"></script>

<section class="spotlight-list">
  <div class="spotlight-list-wrapper">
    <div>
      <ul id="spotlight-list" class="spotlight-select all-progress">
        <li class="category-heading">Belonging</li>
        <li>
          <a href="#spotlight-1" aria-current="location"
            >Supporting California Native Americans</a
          >
        </li>
        <li>
          <a href="#spotlight-2"
            >Unprecedented support for California's immigrant communities</a
          >
        </li>
        <li class="category-heading">Climate</li>
        <li>
          <a href="#spotlight-3">Conserving California's natural beauty</a>
        </li>
        <li><a href="#spotlight-4">Cleaner, more reliable power</a></li>
        <li>
          <a href="#spotlight-5">Ensuring safe and affordable drinking water</a>
        </li>
        <li>
          <a href="#spotlight-6">Keeping communities safer from wildfire</a>
        </li>
        <li><a href="#spotlight-7">Taking on Big Oil -- and Winning</a></li>
        <li>
          <a href="#spotlight-8"
            >The most ambitious climate action plan in the world</a
          >
        </li>
        <li class="category-heading">Economy</li>
        <li>
          <a href="#spotlight-9"
            >Budgets that invest in Californians and California values</a
          >
        </li>
        <li>
          <a href="#spotlight-10"
            >Generational investment in California's infrastructure</a
          >
        </li>
        <li>
          <a href="#spotlight-11">Growing California's economic dominance</a>
        </li>
        <li><a href="#spotlight-12">Investing in workers and families</a></li>
        <li><a href="#spotlight-13">Protecting California workers</a></li>
        <li><a href="#spotlight-14">Protecting California consumers</a></li>
        <li><a href="#spotlight-15">Relief for small businesses</a></li>
        <li class="category-heading">Government</li>
        <li>
          <a href="#spotlight-16"
            >A government that looks more like California</a
          >
        </li>
        <li class="category-heading">Health care</li>
        <li>
          <a href="#spotlight-17"
            >All Californians can access health care, regardless of immigration
            status</a
          >
        </li>
        <li>
          <a href="#spotlight-18"
            >Better mental health care for all Californians</a
          >
        </li>
        <li>
          <a href="#spotlight-19"
            >Improving health care for California's most vulnerable</a
          >
        </li>
        <li>
          <a href="#spotlight-20"
            >Making health care more affordable for California families</a
          >
        </li>
        <li>
          <a href="#spotlight-21">Protecting abortion access and rights</a>
        </li>
        <li><a href="#spotlight-22">Pushing treatment, not tents</a></li>
        <li><a href="#spotlight-23">Supporting older Californians</a></li>
        <li class="category-heading">Housing</li>
        <li><a href="#spotlight-24">Building more housing, faster</a></li>
        <li>
          <a href="#spotlight-25"
            >Tackling California's homelessness crisis head-on</a
          >
        </li>
        <li class="category-heading">Public safety</li>
        <li><a href="#spotlight-26">Combating gun violence</a></li>
        <li><a href="#spotlight-27">Cracking down on hate crimes</a></li>
        <li>
          <a href="#spotlight-28">Fighting the fentanyl and opioid crisis</a>
        </li>
        <li><a href="#spotlight-29">Keeping Californians safe</a></li>
        <li>
          <a href="#spotlight-30"
            >Ramping up efforts to stop organized retail theft</a
          >
        </li>
        <li>
          <a href="#spotlight-31"
            >Reforming California's criminal justice system</a
          >
        </li>
        <li class="category-heading">Schools</li>
        <li>
          <a href="#spotlight-32"
            >Making college more affordable and accessible</a
          >
        </li>
        <li>
          <a href="#spotlight-33"
            >The greatest higher ed system in the world is getting even
            better</a
          >
        </li>
        <li>
          <a href="#spotlight-34"
            >Transforming K-12 education with a parents agenda</a
          >
        </li>
      </ul>
    </div>
    <div class="spotlight all-progress-article-container">
      <article id="spotlight-1">
        <div>
          <p class="accomplishment-title">
            Supporting California Native Americans
          </p>
        </div>

        <div class="accomplishment-content">
          Through Executive Order, Governor Newsom issued the state's first
          apology to California Native Americans for the violence, maltreatment
          and neglect California inflicted, and created a Truth and Healing
          Council. The Governor established a first-ever California
          Cabinet-level Office of Tribal Affairs and appointed the first Tribal
          Affairs Secretary. Governor Newsom also encouraged Administration-wide
          action to support tribal access, co-management, and ownership of their
          historically dispossessed lands.
        </div>
      </article>
      <article id="spotlight-2">
        <div>
          <p class="accomplishment-title">
            Unprecedented support for California's immigrant communities
          </p>
        </div>
        <div class="accomplishment-content">
          As the nation’s most diverse state, California is stronger and more
          vibrant because of our immigrant communities. California has led
          efforts to mitigate the harm caused by federal inaction through
          policies that benefit our communities and the economy. Governor Newsom
          has:
          <ul>
            <li>
              Expanded immigrant access to state IDs and vital government
              programs providing health care, food, financial relief, legal
              assistance, and education regardless of status.
            </li>
            <li>
              Ended the Trump Administration’s policy to use California National
              Guard soldiers for immigration enforcement in 2019, and redeployed
              those units to support wildfire prevention.
            </li>
            <li>
              Created a new Department of Social Services Office of Immigrant
              Youth to coordinate supportive programs for immigrant youth,
              invested in school-based supports, and supported ongoing funding
              for free legal representation for unaccompanied minors.
            </li>
            <li>
              Advanced efforts to unleash immigrant talent by funding
              entrepreneurship training and microgrants for limited English
              proficient Californians and undocumented Californians, including
              DACA beneficiaries and signing legislation to allow expedited
              professional licensing for refugees, asylees, and special
              immigrant visa holders.
            </li>
            <li>
              Provided ongoing funding for pro-bono immigration legal services.
            </li>
            <li>
              Created a Rapid Response Fund to support critical
              assistance/services to immigrants. Removed the word “alien” from
              use in state law.
            </li>
            <li>
              Announced a new farmworker immigration-related legal services
              pilot program to start in early 2024.
            </li>
            <li>
              Advanced efforts to support work permits for undocumented
              farmworkers by signing legislation authorizing the state to enter
              into an agreement with the federal government.
            </li>
          </ul>
        </div>
      </article>
      <article id="spotlight-3">
        <div>
          <p class="accomplishment-title">
            Conserving California's natural beauty
          </p>
        </div>
        <div class="accomplishment-content">
          The Governor established the nation’s first 30 by 30 conservation goal
          – 30% percent of the state’s lands and coastal waters preserved by
          2030 – with 24.4% of land and 16.2% water conserved so far. Governor
          Newsom also supported the Klamath Dams Removal, the largest river
          restoration project in American history. At the same time, the Newsom
          Administration has expanded outdoor and state parks access for all
          Californians through Outdoors for All programs like the Adventure and
          Golden Bear Passes.
        </div>
      </article>
      <article id="spotlight-4">
        <div>
          <p class="accomplishment-title">Cleaner, more reliable power</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom is investing billions and accelerating clean energy
          projects through permitting, planning, and procurement reforms to meet
          ambitious clean electricity targets of 90% by 2035, 95% by 2040, and
          100% by 2045. To support California's clean energy future, the
          Governor has advanced sustainable lithium production in Lithium Valley
          that will meet global demand for this essential element used in
          batteries while providing Californians a share of the benefits.
        </div>
      </article>
      <article id="spotlight-5">
        <div>
          <p class="accomplishment-title">
            Ensuring safe and affordable drinking water
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom created the Safe and Affordable Drinking Water Fund,
          which has improved access to safe drinking water for over 2 million
          Californians. In addition, the Governor has invested $7.3 billion over
          five years for immediate drought and flood response to ensure
          long-term water resilience and championed the Delta Conveyance Project
          to allow the state to capture, move, and store water.
        </div>
      </article>
      <article id="spotlight-6">
        <div>
          <p class="accomplishment-title">
            Keeping communities safer from wildfire
          </p>
        </div>
        <div class="accomplishment-content">
          As California’s fire seasons get longer and more intense, Governor
          Newsom’s Administration is rising to meet the challenge. The Governor
          has embraced an “all of the above” wildfire strategy, including:
          <ul>
            <li>Increasing the pace and scale of forest management</li>
            <li>Supporting and equipping our state’s firefighting crews</li>
            <li>Modernizing wildfire response assets and infrastructure</li>
          </ul>
          Governor Newsom has invested $2.7 billion in forest management to make
          California’s forests and wildlands more resilient to wildfire --
          backed by a Wildfire and Forest Resilience Action Plan with 100% of
          the 99 key actions outlined underway or completed. In addition,
          California has maintained the world’s largest aerial fleet,
          fast-tracked cutting-edge AI technology, secured access to Pentagon
          satellites for wildfire detection, and invested and deployed more than
          1,000 infrared remote-controlled “lookout” cameras. Governor Newsom
          also established the state's first Wildfire Forecast and Threat
          Intelligence Center to provide real-time data, and serve as a central
          organizing hub for wildfire forecasting, weather information, threat
          intelligence gathering, and analysis.
        </div>
      </article>
      <article id="spotlight-7">
        <div>
          <p class="accomplishment-title">Taking on Big Oil -- and Winning</p>
        </div>
        <div class="accomplishment-content">
          Throughout his time in office, Governor Newsom has taken on Big Oil,
          including suing oil companies for their 50 years of deception and
          damage. He signed first-in-the-nation corporate climate disclosure
          bills and created an independent watchdog to hold oil companies
          accountable for gas price gouging.
        </div>
      </article>
      <article id="spotlight-8">
        <div>
          <p class="accomplishment-title">
            The most ambitious climate action plan in the world
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom is leading the global shift to our sustainable future
          -- more clean energy, less pollution. Governor Newsom's California
          Climate Commitment invests a record amount to achieve carbon
          neutrality by 2045, cut air pollution by 71%, and drop gas consumption
          by 94%, while creating 4 million new jobs, through critical climate
          solutions. Under the Newsom Administration, California is leading the
          global transition to zero emission vehicles, requiring all new cars
          sold to be zero-emission by 2035. The state surpassed 1.5 million ZEVs
          sold in California in 2023, two years ahead of schedule.
        </div>
      </article>
      <article id="spotlight-9">
        <div>
          <p class="accomplishment-title">
            Budgets that invest in Californians and California values
          </p>
        </div>
        <div class="accomplishment-content">
          Through strategic planning, the Governor’s balanced, responsible
          budgets support core programs and build reserves to serve our state’s
          most vulnerable populations. Governor Newsom's budgets have maintained
          billions in reserves, including a robust rainy day fund. The Newsom
          Administration has put $12.4 billion toward reducing pension
          liabilities over the last five years, with billions more in the coming
          years.
        </div>
      </article>
      <article id="spotlight-10">
        <div>
          <p class="accomplishment-title">
            Generational investment in California's infrastructure
          </p>
        </div>
        <div class="accomplishment-content">
          California is making the biggest investment in infrastructure since
          the 1950s and 60s. It’s a once-in-a-generation drive that will benefit
          communities across California. Under Governor Newsom's leadership, the
          state is investing $180 billion in infrastructure over the next 10
          years. This money will fund upgrades that benefit every community –
          especially disadvantaged communities. Already, over $41 billion is at
          work in communities across the state that help build our 100% clean
          electric grid, ensure safe drinking water and boost the state’s water
          supply and modernize our transportation system. The Governor has
          signed legislation that accelerates construction timelines on the
          projects necessary to achieving the state’s ambitious climate and
          clean energy goals.
        </div>
      </article>
      <article id="spotlight-11">
        <div>
          <p class="accomplishment-title">
            Growing California's economic dominance
          </p>
        </div>
        <div class="accomplishment-content">
          California does business like nowhere else. From the innovation
          powerhouse of Silicon Valley to the verdant farms of the Central
          Valley to the entertainment capital of the world in Hollywood,
          business thrives in the Golden State. Under Governor Newsom,
          California has prioritized $1.6 billion for community-led economic and
          climate resilience efforts, including California Jobs First, committed
          to cutting red tape and streamlining the state’s notoriously
          cumbersome permitting processes, invested in and extended California’s
          Film and Television Tax Credit Program, and restored the research and
          development tax credit, keeping California and the U.S. at the
          forefront of innovation.
        </div>
      </article>
      <article id="spotlight-12">
        <div>
          <p class="accomplishment-title">Investing in workers and families</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom has:
          <ul>
            <li>
              Led a nearly $2 billion expansion of childcare slots and signed
              legislation that set the stage for family child care providers to
              unionize.
            </li>
            <li>Expanded after-school and summer education programs.</li>
            <li>
              Expanded the California Earned Income Tax Credit from $400 million
              in 2019 to over $1.1 billion beginning 2020, which included the
              creation of the Young Child Tax Credit, and expanded access to
              otherwise eligible ITIN filers in 2020. The expansion has resulted
              in over $5.2 billion in CalEITC and YCTC paid to Californians
              since 2019.
            </li>
            <li>
              Invested in career pathways programs to train workers and connect
              them to good-paying jobs and formed a Council on Career Education
              via executive order.
            </li>
            <li>
              Invested $6 billion in Broadband for All to increase broadband
              infrastructure, access, and affordability.
            </li>
          </ul>
        </div>
      </article>
      <article id="spotlight-13">
        <div>
          <p class="accomplishment-title">Protecting California workers</p>
        </div>
        <div class="accomplishment-content">
          Throughout his time in office, Governor Newsom has signed
          nation-leading legislative measures to expand protections for workers,
          including by ending exploitative piece-rate compensation for garment
          industry workers, expanding union rights for farm workers,
          establishing nation-leading transparency measures for companies
          employing warehouse workers. Additionally, the Governor signed
          legislation guaranteeing workers at least five paid sick days per
          year, up from three days, and expanded paid family leave and wage
          replacement.
        </div>
      </article>
      <article id="spotlight-14">
        <div>
          <p class="accomplishment-title">Protecting California consumers</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom established the California Department of Financial
          Protection and Innovation to protect Californians against abusive and
          predatory financial products and services. To better protect
          consumers, the Governor has also signed payday lender protections into
          law, barring payday lenders from charging high interest rates
          –previously as high as 200 percent – on loans between $2,500 and
          $10,000. The Governor also signed legislation including a crackdown on
          for-profit colleges disguising themselves as non-profit institutions
          and the creation of a student bill of rights.
        </div>
      </article>
      <article id="spotlight-15">
        <div>
          <p class="accomplishment-title">Relief for small businesses</p>
        </div>
        <div class="accomplishment-content">
          The Governor ensured relief for small businesses in 2021 by cutting
          small business taxes by $6.2 billion, creating a nearly $4 billion
          small business COVID-19 relief program, investing in the CalCompetes
          program, and funding two rounds of the Main Street Small Business
          Hiring Tax Credits.
        </div>
      </article>
      <article id="spotlight-16">
        <div>
          <p class="accomplishment-title">
            A government that looks more like California
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom is deeply committed to building an administration that
          reflects California’s diversity at every level of state government.
          The Governor has made historic statewide appointments like
          California's first Latino U.S. Senator, Alex Padilla, and California's
          first Latina Justice on the California Supreme Court, Patricia
          Guerrero. Governor Newsom also signed legislation allowing
          Californians to serve on appointed government boards and commissions
          regardless of immigration status.
        </div>
      </article>
      <article id="spotlight-17">
        <div>
          <p class="accomplishment-title">
            All Californians can access health care, regardless of immigration
            status
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom has led the charge to expand health care access to all
          Californians, regardless of age, immigration status, or ability to
          pay. The Governor has expanded full-scope Medi-Cal to all
          income-eligible Californians, including the undocumented.
        </div>
      </article>
      <article id="spotlight-18">
        <div>
          <p class="accomplishment-title">
            Better mental health care for all Californians
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom signed legislation improving access to quality
          behavioral health services for all Californians, including homeless
          people. The Governor has invested $4.7 billion for the California
          Master Plan for Kids’ Mental Health to ensure California kids, parents
          and communities have increased access to mental health and substance
          use disorder treatment services. Additionally, the Governor is
          ensuring mental health is treated the same as physical health through
          mental health parity legislation, including enforcement actions
          against health insurers, and billions in investments to expand mental
          health care for low-income Californians.
        </div>
      </article>
      <article id="spotlight-19">
        <div>
          <p class="accomplishment-title">
            Improving health care for California's most vulnerable
          </p>
        </div>
        <div class="accomplishment-content">
          In addition to expanding access to Medi-Cal to all Californians,
          regardless of immigration status, Governor Newsom has championed
          CalAIM Medi-Cal reform to fundamentally reimagine health care delivery
          for those with the most acute needs. The Governor renewed the MCO tax
          to provide the largest Medi-Cal rate increase in California history,
          expanding low-income patients’ access to critical health care
          services. At the same time, the Governor has added new benefits to
          Medi-Cal, including doulas for birthing assistance; community health
          services like meals and housing; trauma/ACEs and disability screening
          for children; dementia screening for older adults; and enhanced care
          management for complex care.
        </div>
      </article>
      <article id="spotlight-20">
        <div>
          <p class="accomplishment-title">
            Making health care more affordable for California families
          </p>
        </div>
        <div class="accomplishment-content">
          Through Covered California, the state became the first in the nation
          to offer financial help for individual health insurance on top of
          federal support – including expanded subsidies to qualified middle
          class individuals. The Governor also announced the CalRx generic drug
          program, making California the first state to have its own generic
          drug label, and announced efforts to make insulin and Naloxone more
          affordable.
        </div>
      </article>
      <article id="spotlight-21">
        <div>
          <p class="accomplishment-title">
            Protecting abortion access and rights
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom has expanded and protected access to reproductive
          care:
          <ul>
            <li>
              Invested more than $200 million in reproductive care access, plus
              an additional $200 million for comprehensive family planning
              services.
            </li>
            <li>
              Signed an executive order and legislation protecting Californians
              and others traveling to California for abortion care as well as
              California providers from anti-choice state actions, launched the
              Reproductive Freedom Alliance, a non-partisan coalition of 22
              Governors, and took actions to protect medication abortion access.
            </li>
            <li>
              Signed numerous bills expanding access and protections for
              reproductive health care, including measures to provide stronger
              protections for reproductive health providers, expand the
              reproductive health workforce, and protect patient privacy.
            </li>
          </ul>
        </div>
      </article>
      <article id="spotlight-22">
        <div>
          <p class="accomplishment-title">Pushing treatment, not tents</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom is tackling California’s homelessness crisis head-on.
          No more excuses, no more passing the buck – California is finally
          getting serious about this decades-long emergency with the compassion
          and urgency it demands. The Newsom Administration has invested $2.2
          billion through the Behavioral Health Continuum Infrastructure Program
          to build approximately 2,500 behavioral health beds and create
          thousands of treatment slots to serve the needs of Californians with
          mental health and substance use challenges. To better treat those
          experiencing crisis, the governor created the Mobile Crisis Response
          program, investing $1.4 billion over five years so that people
          experiencing behavioral health crises, receive coordinated, more
          timely behavioral health care through Medi-Cal. Additionally, Governor
          Newsom signed legislation to modernize California’s conservatorship
          laws for the first time in more than 50 years and created CARE Court,
          a new framework to provide care, services, and housing to individuals
          with the most serious, untreated mental health and substance use
          disorders. The Governor has also expanded funding for the treatment of
          substance use disorder by leveraging over $200 million in federal
          opioid-related funding to support the Medication Assisted Treatment
          Expansion Project.
        </div>
      </article>
      <article id="spotlight-23">
        <div>
          <p class="accomplishment-title">Supporting older Californians</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom developed the Master Plan for Aging, a 10-year
          blueprint to advance the longevity, wellbeing, and inclusion of people
          of all ages and abilities, as well as launched the Task Force on
          Alzheimer’s Disease Prevention and Preparedness, and invested in
          expanded health, home, and dementia care, as well as basic income and
          meals.
        </div>
      </article>
      <article id="spotlight-24">
        <div>
          <p class="accomplishment-title">Building more housing, faster</p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom has invested over $40 billion to boost affordable
          housing across the state, including through expanded state tax
          credits, infrastructure grants, and funding for climate-friendly
          housing. In addition, the Governor launched a new Housing
          Accountability Unit to hold local governments accountable for
          implementing state housing laws, including a new, legally binding
          requirement that California’s cities and counties plan for 2.5 million
          new units by roughly 2030, 1 million of which must be affordable. The
          Governor has also signed 32 housing-related CEQA reforms since taking
          office to cut bureaucratic red tape and streamline building.
        </div>
      </article>
      <article id="spotlight-25">
        <div>
          <p class="accomplishment-title">
            Tackling California's homelessness crisis head-on
          </p>
        </div>
        <div class="accomplishment-content">
          No more excuses, no more passing the buck – California is finally
          getting serious about this decades-long emergency with the compassion
          and urgency it demands. The Governor has invested over $15.3 billion
          to address homelessness and over $40 billion to expand affordable
          housing – and, critically, he’s demanding unprecedented accountability
          from local governments to make sure these investments have the
          intended effects. The Governor has also pioneered nation-leading
          homeless housing reforms, including Homekey and Project Roomkey, which
          have brought more than 71,000 people off the streets. Additionally,
          California is investing $750 million in Encampment Resolution Funding
          to get people out of encampments and into housing, and is delivering
          up to 1,200 small homes to provide safe, interim housing for people
          experiencing homelessness, free of charge and ready for occupancy.
        </div>
      </article>
      <article id="spotlight-26">
        <div>
          <p class="accomplishment-title">Combating gun violence</p>
        </div>
        <div class="accomplishment-content">
          California’s strong gun laws work – our state is ranked #1 in gun
          safety, with a gun death rate 43% lower than the national average. And
          Governor Newsom is doing even more to get weapons of war off
          California streets:
          <ul>
            <li>
              Strengthened and expanded “red flag laws” and ghost gun
              regulations and prohibited the sale of semiautomatic rifles to
              people under 21.
            </li>
            <li>
              Invested $10 million in local government efforts to seize weapons
              from people who are prohibited from having them and $5 million in
              a public awareness campaign about red flag laws.
            </li>
            <li>
              Signed additional legislation to strengthen public carry
              regulations; require microstamping on handgun cartridges; generate
              $160 million annually on the sale of bullets to improve school
              safety and gun violence intervention programs; keep guns out of
              the hands of potentially dangerous individuals; update the
              definition of a firearm to include ghost gun parts; and strengthen
              the process for removing firearms from people who are prohibited
              from owning them.
            </li>
            <li>
              Proposed a Right to Safety amendment to the United States
              Constitution to enshrine fundamental, broadly supported gun safety
              measures into law.
            </li>
            <li>
              Signed a law to hold the gun industry accountable by allowing
              private citizens to sue those who manufacture, distribute, or sell
              unlawful assault weapons, ghost guns, and ghost gun kits, taking
              advantage of the door left open by the U.S. Supreme Court decision
              regarding Texas’s abortion law.
            </li>
          </ul>
        </div>
      </article>
      <article id="spotlight-27">
        <div>
          <p class="accomplishment-title">Cracking down on hate crimes</p>
        </div>
        <div class="accomplishment-content">
          Under Governor Newsom's leadership, California has invested $150
          million for Stop the Hate grants to support community services for
          victims and survivors of hate crimes and launched CA vs. Hate, a new
          statewide hotline to report hate acts in California. The Governor
          established the Commission on the State of Hate to assess data on hate
          crimes in California, provide resources for victims, and make policy
          recommendations to better protect civil rights. At the same time,
          Governor Newsom has expanded the state nonprofit security grant
          program to help bolster security at targeted religious and
          community-based nonprofits.
        </div>
      </article>
      <article id="spotlight-28">
        <div>
          <p class="accomplishment-title">
            Fighting the fentanyl and opioid crisis
          </p>
        </div>
        <div class="accomplishment-content">
          The Newsom Administration has stayed laser-focused on fighting the
          opioid crisis, particularly the scourge of fentanyl. Governor Newsom
          has invested $7.9 million in 2022-23 and $6.7 million ongoing in a new
          Fentanyl Enforcement Program and $30 million to expand the Military
          Department’s existing drug interdiction efforts. Over 62,000 pounds of
          fentanyl were seized by the California National Guard in 2023, a 116%
          increase in seizures since 2022. Additionally, California is cracking
          down on opioid use and preventing overdoses through $151 million for
          the Naloxone Distribution project, $61 million for prevention and harm
          reduction, $10 million for education, testing, recovery, and support
          services, $4 million to make more test strips available, and $3.5
          million to provide overdose medication to all middle and high schools,
          and making naloxone in a nasal form a targeted drug for CalRx
          medication accessibility initiative.
        </div>
      </article>
      <article id="spotlight-29">
        <div>
          <p class="accomplishment-title">Keeping Californians safe</p>
        </div>
        <div class="accomplishment-content">
          Under Governor Newsom, California has made major investments in local
          law enforcement and prosecutors to combat violent crime. The Governor
          is deploying a Public Safety Plan backed by a record investment,
          including over $374 million to combat organized retail theft, $88
          million for opioid interdiction and enforcement, and $197 million to
          address gun violence. Part of the Public Safety Plan includes $6
          million in a multi-year recruitment campaign to fill 1,000 CHP
          vacancies.
        </div>
      </article>
      <article id="spotlight-30">
        <div>
          <p class="accomplishment-title">
            Ramping up efforts to stop organized retail theft
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom expanded CHP’s Organized Retail Crime Task Force,
          which has led to 1,246 investigations leading to 2,100 arrests and
          596,319 stolen items recovered, valued at over $25 million.
        </div>
      </article>
      <article id="spotlight-31">
        <div>
          <p class="accomplishment-title">
            Reforming California's criminal justice system
          </p>
        </div>
        <div class="accomplishment-content">
          The Governor has placed a moratorium on the death penalty, closed
          unneeded prisons, and instituted laws on police use of force that are
          a model to the rest of the nation. In addition, the Governor signed
          legislation phasing out the use of all private, for-profit prisons and
          led the charge that ended juvenile incarceration at the state level.
        </div>
      </article>
      <article id="spotlight-32">
        <div>
          <p class="accomplishment-title">
            Making college more affordable and accessible
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom has invested over $40 billion to boost affordable
          housing across the state, including through expanded state tax
          credits, infrastructure grants, and funding for climate-friendly
          housing. In addition, the Governor launched a new Housing
          Accountability Unit to hold local governments accountable for
          implementing state housing laws, including a new, legally binding
          requirement that California’s cities and counties plan for 2.5 million
          new units by roughly 2030, 1 million of which must be affordable. The
          Governor has also signed 32 housing-related CEQA reforms since taking
          office to cut bureaucratic red tape and streamline building.
        </div>
      </article>
      <article id="spotlight-33">
        <div>
          <p class="accomplishment-title">
            The greatest higher ed system in the world is getting even better
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom provided up to two years of community college
          tuition-free. Additionally, the Governor has made major investments in
          college affordability, including $2.1 billion to build affordable
          student housing at UC, CSU, and the community colleges, $115 million
          for Open Educational Resources at the California Community Colleges,
          $636.2 million to reform and strengthen the Middle Class Scholarship
          program, and efforts to pursue zero-cost textbook courses and make the
          College Corps program permanent. Through College Corps, the Governor
          has created new debt-free pathways to college while engaging students
          across the state in solving problems in their communities by providing
          10,000+ college students with opportunities to support and learn from
          community-based organizations and earn up to $10,000.
        </div>
      </article>
      <article id="spotlight-34">
        <div>
          <p class="accomplishment-title">
            Transforming K-12 education with a parents agenda
          </p>
        </div>
        <div class="accomplishment-content">
          Governor Newsom is putting parents first – giving them choices about
          how their kids are educated and expanding childcare and leave benefits
          to ensure their families are supported. The Governor has:
          <ul>
            <li>Added a whole new grade to public school for 4-year-olds.</li>
            <li>Expanded after-school and summer education programs.</li>
            <li>
              Invested $4.1 billion to help one out of every three schools in
              California transition to the community school model, with
              wraparound mental health, social, and family services. Invested
              $18.7 million for dyslexia research and screening tool pilot
              projects at the University of California and $1 million in 2023 to
              convene an independent panel of experts on dyslexia.
            </li>
            <li>
              Invested $250 million in 2022 and 2023 in early literacy supports.
            </li>
            <li>Invested $3.5 billion for teacher preparation.</li>
            <li>
              Invested $1.9 billion in the CalKIDS program to set up career
              savings accounts of up to $1,500 for every vulnerable student.
            </li>
            <li>
              Invested $250 million in the K-16 Education Collaboratives Grant
              Program to strengthen pathways to career opportunities and address
              long-standing equity gaps.
            </li>
            <li>
              Created the Office of Cradle to Career Data, which has signed
              landmark legal agreements with 15 education, social service, and
              career pathways entities, allowing for the creation of
              longitudinal data sets on student progress.
            </li>
            <li>
              Augmented special education funding by more than $3.5 billion over
              the past five years.
            </li>
            <li>
              Signed legislation ending book bans in schools, prohibiting
              censorship of instructional materials, and strengthening
              California law requiring schools to provide all students access to
              textbooks that teach about California’s diverse communities.
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>
