<link
  rel="stylesheet"
  href="../node_modules/@cagovweb/go-site-base-css/dist/variables.css" />
<link
  rel="stylesheet"
  href="../node_modules/@cagovweb/go-site-base-css/dist/fonts.css" />
<link
  rel="stylesheet"
  href="../node_modules/@cagovweb/go-site-base-css/dist/page.css" />
<link
  rel="stylesheet"
  href="../node_modules/@cagovweb/go-site-base-css/dist/typography.css" />
<link rel="stylesheet" href="../dist/style.css" />

<footer role="contentinfo">
  <section class="footer-primary">
     <div><img src="../images/gov-seal.svg" alt="Seal of the Governor of the State of California" /> <p>Office of Governor <strong>Gavin Newsom</strong></div>
    <div> <nav role="navigation" aria-labelledby="about">
        <h3 id="about">About</h3>
        <ul>
           <li><a href="#">Sign up for news updates</a></li>
           <li><a href="#">Career opportunities</a></li>
           <li><a href="#">Contact us</a></li>
           <li><a href="#">Organization chart</a></li>
        </ul>
   
     </nav>
     <nav role="navigation" aria-labelledby="initiatives">
        <h3 id="initatives">State initiatives</h3>
        <ul>
           <li><a href="#">Building California’s Future</a></li>
           <li><a href="#">Climate Action</a></li>
           <li><a href="#">Abortion access</a></li>
           <li><a href="#">Gun safety</a></li>
        </ul>
     </nav>
     <nav role="navigation" aria-labelledby="campaigns">
     <h3 id="campaigns">State campaigns</h3>
     <ul>
        <li><a href="#">Register to Vote</a></li>
        <li><a href="#">Save our Water</a></li>
        <li><a href="#">Heat ready</a></li>
        <li><a href="#">Ready for Wildfire</a></li>
     </ul>
    </nav>
     <nav role="navigation" aria-labelledby="clemency-parole">
        <h3 id="clemency-parole">Clemency &amp; parole</h3>
        <ul>
           <li><a href="">Clemency</a></li>
           <li><a href="">Parole</a></li>
           <li><a href="">Reward for unsolved cases</a></li>
        </ul>
     </nav>
    </div>
  </section>
  <section>
     <nav role="navigation" aria-labelledby="utility-links">
       <h3 class="sr-only" id="utility-links">Site Links</h3>
        <ul>
           <li><a href="">Conditions of use</a></li>
           <li><a href="">Privacy</a></li>
          <li> <a href="">Accessibility</a> /
<a href="#"> Website Certification </a></li>
           <li><a href="">Sitemap</a></li>
        </ul>
     </nav>
     <nav role="navigation" aria-description="social media links">
        <ul class="flex">
        <li><a href=""><img src="../images/share-facebook.svg" alt=""></a></li>
        <li> <a href=""><img src="../images/share-instagram.svg" alt=""></a> </li>
        <li><a href=""><img src="../images/share-tictok.svg" alt=""></a></li>
        <li> <a href=""><img src="../images/share-twitter-X.svg" alt=""></a> </li>
     </nav>
  </section>
  <section id="publishing" aria-desctiption="website publishing information">
     <small>&#169; 2024 State of California</small>
  </section>
</footer>
