section button {
  background: var(--brand-secondary, #1b499b);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}

li.category-heading {
  color: var(--brand-primary, #20367c);
  font-size: var(--h4);
  font-weight: 700;
}

.spotlight {
  flex-basis: 50%;

  > article {
    display: none;

    & img {
      aspect-ratio: 3/2;
      max-height: 24rem;
      object-fit: cover;
      object-position: initial;
      width: 40rem;
    }
  }
}

section .spotlight-list-wrapper h2 {
  color: var(--brand-primary, #20367c);
  font-size: var(--h2);
  font-weight: 700;
}

.spotlight-list *:has(*:target) article:not(*:target) {
  display: none;
}

.spotlight.all-progress-article-container {
  border: 1px solid #b6b6b6;
}

.js-enabled ul.spotlight-select {
  display: none;
  list-style: none;
  margin-inline: 0;
  padding: 0;

  & li {
    margin-block-start: 0;

    + li {
      border-top: 1px solid #b6b6b6;
    }
    > * {
      align-self: center;
    }
  }

  & a {
    padding-block: 1.65cqi;
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-dark, #323232);
    padding-inline-end: 4rem;
    font-size: var(--h5);
  }

  a:hover {
    color: var(--brand-hover-dark, #0073a5);
    text-decoration: underline;
  }

  [aria-current="location"] {
    color: var(--brand-primary, #20367c);
    font-weight: 700;
    position: relative;
    text-decoration: underline;
  }

  [aria-current="location"]::after {
    background-image: url('data:image/svg+xml,<svg width="37" height="42" viewBox="0 0 37 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6183 9.42816L25.6648 20.4746H1H0.5V20.9746V25.2246V25.7246H1H25.6648L14.6183 36.7711L14.2616 37.1278L14.6215 37.4813L17.6496 40.4563L18.0031 40.8036L18.3536 40.4532L35.3536 23.4532L35.7071 23.0996L35.3536 22.7461L18.3536 5.74606L18.0031 5.39562L17.6496 5.74294L14.6215 8.71794L14.2616 9.07147L14.6183 9.42816Z" fill="%23F26522" stroke="%23F26522"/></svg>');
    content: "";
    background-size: cover;
    height: 1.5rem;
    width: 1.25rem;
    /* right: var(--flow-space); */
    right: 0;
    /* top: calc(1.65cqi / 2 + 0.5rem); */
    position: absolute;
  }

  & a:active {
    color: #0057ad;
  }
}

.js-enabled ul.spotlight-select.all-progress {
  & li {
    + li {
      border: none;
    }
  }
  & li.category-heading {
    margin-block-start: 5rem;
  }
}

.accomplishment-type {
  color: #6d6d6d;
  font-size: var(--h5);
  font-weight: 700;
}

.accomplishment-title {
  color: var(--primary-brand, #20367c);
  font-size: var(--h2);
  font-weight: 700;
}

.accomplishment-content {
  color: #494949;
  font-size: var(--h5);
  font-weight: 400;
}

select {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  background-color: transparent;
  padding: 0.5rem;

  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spotlight > article:target,
.spotlight > *:first-child {
  display: block;
  animation: fade 0.8s ease-out;
}

.spotlight-list {
  container-type: inline-size;
  container-name: spotlightlist;

  & div {
    padding: 1rem;
  }
}

.js-enabled select {
  display: block;
}

@container spotlightlist (min-width: 120ch) {
  .js-enabled ul.spotlight-select {
    display: block;
  }

  .js-enabled select {
    display: none;
  }

  .spotlight-list-wrapper {
    display: flex;
    gap: var(--flow-space);
    /* flex-wrap: wrap; */
    justify-content: space-between;

    > * {
      flex-basis: 1 1 30ch;
      margin-block-start: unset;
    }

    > *:first-child {
      flex-basis: 50%;
    }

    > *:last-child {
      /* flex-grow: 2; */
      position: sticky;
      top: 0;
    }
  }
}
